{
    "servers": ["mastodon.social"],
    "tags": ["foss", "cats", "dogs"],
    "accounts": [],

    "loadPublic": false,
    "loadFederated": false,
    "loadTrends": false,

    "languages": [],
    "badWords": [],
    "hideSensitive": true,
    "hideBots": true,
    "hideReplies": true,
    "hideBoosts": false,

    "limit": 20,
    "interval": 10,
    "textLines": 0,
    "maxPosts": 0,

    "title": "Fediwall",
    "theme": "auto",
    "showInfobar": true,
    "showFooter": true,
    "showText": true,
    "showMedia": true,
    "playVideos": true
}